body {
    font-family: Georgia, serif;
    font-size: 14px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .228em;
    padding-top: 1em;
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
    /* margin-top: 0; */
    padding-bottom: .5em;
}

h3 {
    font-size: 1em;
    padding-bottom: .1em;
    margin-top: 0em;
    margin-bottom: 0em;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:active {
    background-color: lightgray;
}


h3,
a,
li::marker {
    /* color: #029352; */

    color: #329962;
    /* sea green */

    /* color: #0d7c4c; */
    /* color: #38b45b; */
    /* color: #27ba88 */

    /* color: #4e784f; */
    /* aka "hippie green */

    /* color: #7FA5F9; */
    /* color: rgb(127, 165, 249); */
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1em;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    /* margin for each "section" */
    margin: auto 1em 3em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;
    margin-bottom: 0em;
    margin-top: 0em;
}

p,
li {
    font-family: Calibri, Arial, sans-serif;
}

span {
    /* font-weight: normal; */
    color: black;
}

.header-section {
    border-left: 2px solid lightgray;
}

.info-section {
    margin-bottom: 1.5em;
}

.date-text {
    margin: 0em auto;
}

.date-text,
p,
h3 {
    margin-left: 2em;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

@media (min-width: 1000px) {
    #mainLeft {
        /* border-right: 2px solid lightgray; */
    }
}

ul {
    columns: 2;
    margin-top: .5em;
}

.info {
    padding-left: 2em;
}